.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.just-bet{
    justify-content: space-between;
}
.btn{
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    color: var(--pure);
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline:none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn a{
    color: var(--pure);
    text-decoration: none;
}

.btn-primary{
    background-color: var(--primary);
}

.btn-primary:hover,.btn a:hover{
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-seconadry{
    background: transparent;
    color: var(--primary);
    border-color:var(--primary);
}

.btn-seconadry:hover{
    background: var(--primary);
    color: var(--light);

}

.flex-1{
    flex: 1;
}

.just-center{
    justify-content: center;
}

